#waterwheel-carousel {
  width:900px;
  height:250px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin:0 auto;
}
#waterwheel-carousel img {
  visibility:hidden; /* hide images until carousel positions them */
  cursor:pointer;
  width: 320px;
  height: 180px;
}