#container {
	margin: 0 auto;
	width: 765px;
	background-color: #ffffff;
}

#countdown_dashboard {
	height: 115px;
    width: 462px;
    margin: 0 auto;
}

.dash {
	float: left;
	margin: 0;
	position: relative;
	color: #242527;
}

.dash .digit {
    font-family: 'Segoe_UI', sans-serif;
    font-size: 46px;
	font-weight: normal;
    padding: 0;
    margin: 0 7px 0 0;
	float: left;
	width: 43px;
    height: 68px;
	text-align: center;
	position: relative;
    background: transparent url('../img/dash.png') 0 0 no-repeat;
    box-shadow: 0 0 3px #ccc;
}

.dash_title {
    font-size: 18px;
    color: #1aa4e4;
    text-align: center;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
	color: #247;
}
