.counter_container {
	margin: 26px 0 0 52px;
	width: 574px;
	background-color: #ffffff;
}

.countdown_dashboard {
	height: 94px;
    width: 300px;
    margin: 0 auto;
}

.dash {
	float: left;
	margin: 0;
    max-width: 74px;
	position: relative;
	color: #242527;
}

.dash .digit {
    font-family: 'Segoe_UI', sans-serif;
    font-size: 34px;
	font-weight: normal;
    padding: 0;
    margin: 0 5px 0 0;
	float: left;
	width: 32px;
    height: 51px;
	text-align: center;
	position: relative;
    background: transparent url('../img/dash.png') 0 0 no-repeat;
}

.dash_title {
    font-size: 13px;
    color: #1aa4e4;
    text-align: center;
}

.info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
	color: #247;
}
