/**
GENERAL
*/
* {
    margin:0;
    padding:0;
    outline: none;
}
html, body {
    font-size: 100%;
    margin:0;
    padding:0;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
    height: 100%;
}
/*body {*/
    /*zoom: 0.75;*/
    /*-moz-transform: scale(0.75);*/
    /*-moz-transform-origin: top center;*/
    /*-o-transform: scale(0.75);*/
    /*-o-transform-origin: top center;*/
/*}*/

textarea {
    resize: none;
}
.page {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    font: 13px/1.5 'Segoe_UI';
    /*max-width: 1400px;*/
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
    font: 13px/1.5 'Segoe_UI';
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.btn_border {
    border-radius: 7px;
    border: 1px solid #d99100;
    position:relative;
    z-index:10;
    text-shadow: #ffc942 0 1px 1px;
    box-shadow: 1px 11px 7px #cfcfcf;
}

.btn_border:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:1px solid #fadc8f;
    border-radius: 7px;
}

h2 {
    font: 45px 'Segoe_UI_bold';
    line-height: 32px;
}

h2:before {
   display: block;
   margin: 0 0 15px 8px;
   content: "";
   height: 3px;
   width: 180px;
}

h2 span {
    font: 37px 'Segoe_UI_light';
    color: #000000;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
}

.mt60 {
    margin-top: 45px !important;
}

/*HEADER*/

header {
    padding-top: 10px;
    border-bottom: 1px solid #8d8d8d;
}

.logo {
    float: left;
    margin: 0 0 0 45px;
    height: 90px;
    width: 360px;
    padding-left: 127px;
    background: url("../img/logo.png") no-repeat left center;
}
h1.logo {
    text-transform: uppercase;
    color: #7b7b7b;
    line-height: 30px;
    font: 22px 'Segoe_UI_bold';
    text-shadow: #c8c8c8 0 1px 1px;
}

h1.logo span {
    color: #000000;
    text-shadow: #aaaaaa 0 1px 1px;
}

.page .phone {
    float: right;
    width: 206px;
    text-align: center;
    margin-top: 11px;
}

.page .phone>p {
    height: 22px;
    line-height: 22px;
    background: url("../img/ic_phone.png") no-repeat 7px center;
    padding-left: 22px;
    color: #7b7b7b;
    font: 18px 'Segoe_UI_bold';
}

.page .phone>p span {
    color: #000000;
}

.call_offer {
    height:29px;
    line-height: 29px;
    display: inline-block;
    font: 18px 'Segoe_UI';
    padding: 0 29px;
    background: url("../img/bg_btn_call.png") repeat-x center center;
    margin-top: 11px;
}

.line {
    border-top: 1px solid #8d8d8d;
    margin-top: 20px;
}

.main_menu {
    margin: 15px auto 11px;
    width: 480px;
}

.main_menu li {
    float: left;
    padding: 0 11px;
}

.main_menu li a {
    display: block;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    border-bottom: 1px dashed #0a3b66;
}

/*MAIN*/

.center {
    text-align: center;
}

.title_bold {
    font: 28px 'Segoe_UI_bold';
}

.title_light {
    font: 22px 'Segoe_UI_light';
    margin-bottom: 26px;
}

.bg_main {
    background: url("../img/bg_main.jpg") no-repeat center center;
    height: 620px;
}

.know_more {
    top: -15px;
    height: 61px;
    line-height: 56px;
    display: inline-block;
    padding: 0 45px;
    font-size: 28px;
    background: url("../img/bg_btn_know.png") repeat-x center center;
    box-shadow: none;
}

.why_clients {
    border-top: 1px solid #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
    background: url("../img/bg_why_clients.png") repeat;
    height: 412px;
    margin-bottom: 15px;
}

.offer {
    background: url("../img/stairs.png") no-repeat left 200px;
    height: 522px;
}
.counter_title {
    color: #18426a;
    font: 15px/1.2 'Seguisb';
}
.blue_arrow {
    background: url("../img/offer_arrow.png") no-repeat left top;
    width: 268px;
    height: 239px;
    margin: 22px 0 0 450px;
}
.box_offer {
    margin: 82px 0 0 0;
    float: right;
    width: 262px;
    height: 349px;
    border: 1px solid #d0cfbd;
    background: url("../img/bg_box_offer.gif") repeat 0 0;
    border-radius: 22px;
    padding: 19px 15px 7px;
    box-shadow: 0 3px 0 #d9d9d9;
}
.box_offer h1 {
    color: #053763;
    font: 27px/31px 'Seguisb'; /** checked **/
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 7px 0;
}
.box_offer p {
    text-align: center;
    color: #000;
    font: 22px 'Seguisb'; /** checked **/
}
.box_offer p.light {
    font: 18px 'Segoe_UI_light';
}
.box_offer span.blue {
    color: #23a7e5;
    text-transform: uppercase;
}
.box_offer form {
    margin: 11px 0 0 0;
}
.box_offer form input {
    border: solid 1px #b9b9b9;
    color: #000;
    font-size: 13px;
    width: 232px;
    padding: 10px 15px;
    margin: 4px 0;
}
.box_offer form input::-moz-placeholder {
    color: #c4c4c4;
}
.btn_offer {
    height:39px;
    line-height: 39px;
    display: inline-block;
    font: 24px 'Segoe_UI';
    padding: 0 49px;
    background-color:#ffc603;
    margin: 11px auto 0 34px;
    text-shadow: #ffc942 0 1px 1px;
    box-shadow: 1px 7px 4px #cfcfcf;
}
.warranty {
    background: url("../img/bg_garantee.png") repeat-x bottom center;
    min-height: 352px;
}
.warranty_list {
    padding: 0;
    margin: 15px 0 0 0;
}
.warranty_list li {
    background: url("../img/bg_warranty.png") no-repeat 0 0;
    width: 219px;
    height: 219px;
    float: left;
    margin-right: 41px;
    text-shadow: 0 1px 0 #adbac7;
}
.warranty_list li:last-child {
    margin-right: 0;
}
.warr_li {
    margin: 41px 0 0;
    padding: 67px 41px 0;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
}
.warranty_1 {
    background: url("../img/warranty_1.png") no-repeat 51% 0;
}
.warranty_2 {
    background: url("../img/warranty_2.png") no-repeat 51% 0;
}
.warranty_3 {
    background: url("../img/warranty_3.png") no-repeat 54% 0;
}
.warranty_4 {
    background: url("../img/warranty_4.png") no-repeat 50% 0;
}

.title_normal {
    font: 31px 'Segoe_UI_light';
    margin: 30px 0;
}

.our_advantage li {
    float: left;
    width: 140px;
    height: 157px;
    padding-top: 157px;
    margin-right: 52px;
    font-size: 18px;
    line-height: 22px;
    color: #053763;
    text-align: center;
}

.our_advantage li:first-child {
    margin-left: 40px;
}
.our_advantage li span {
    font-size: 21px;
}

.our_advantage li span.bold {
    font: 30px 'Segoe_UI_bold';
}

li.adv_1 {
    background: url("../img/adv_1.png") no-repeat center top;
}

li.adv_2 {
    background: url("../img/adv_2.png") no-repeat center top;
}

li.adv_3 {
    background: url("../img/adv_3.png") no-repeat center top;
}

li.adv_4 {
    background: url("../img/adv_4.png") no-repeat center top;
}

li.adv_5 {
    background: url("../img/adv_5.png") no-repeat center top;
}

h2.cl_blue {
    color: #009ae1;
    margin-top: 37px;
}

h2.cl_blue:before {
    background-color: #009ae1;
}

h2.cl_dark_blue {
    color: #053763;
    margin-top: 37px;
}

h2.cl_dark_blue:before {
    background-color: #053763;
}

h2.cl_gold:before {
    background-color: #ffaf00;
    position: absolute;
    top: 0;
    left: 410px; /* ( 1180 - 240) / 2 */
}

h2.cl_gold {
    color: #ffaf00;
    font-size: 51px;
    position: relative;
    margin: 50px 0 0 0;
    padding: 30px 0 0 0;
    /*text-transform: uppercase;*/
}

h2.cl_yellow {
    color: #ffaf00;
    padding-top: 50px;
}

h2.cl_yellow:before {
    background-color: #ffaf00;
}

h2.cl_yellow span {
    color: #ffffff;
}

.suitable {
    background: url("../img/bg_suitable.jpg") no-repeat center -22px;
    height: 720px;
    margin-bottom: 15px;
}

h2.cl_white {
    color: #ffffff;
    padding-top: 75px;
    text-align: right;
    position: relative;
}

h2.cl_white:before {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 55px;
}

h2.cl_black {
    color: #000000;
    padding-top: 30px;
}

h2.cl_black:before {
    background-color: #000000;
}

.suitable_box {
    margin: 20px 0;
}

.prof_wood_skin {
    margin: 20px 0 0 0;
}
.prof_wood_skin h2 {
    font: 45px/51px 'Segoe_UI_bold';
    color: #ffaf00;
    text-align: center;
}
.prof_wood_skin h3 {
    font: 24px/37px 'Segoe_UI_light';
    color: #2d2d2d;
    text-align: center;
}
.prof_wood_skin h4 {
    font: 21px/21px 'Seguisb';
    width: 712px;
    margin: 15px 0 0 112px;
}
.prof_wood_skin h4 span {
    font: 24px/21px 'Segoe_UI_bold';
    color: #38a2e6;
}
.prof_wood_skin ul {
    margin: 15px 0 0 30px;
}
.prof_wood_skin ul li {
    list-style-image: url("../img/ul_li_galka.png");
    list-style-position: inside;
    font-size: 19px;
    min-height: 60px;
}
.slider {
    margin: 20px 0 0 0;
    min-height: 670px;
}
.slider_arrow {
    display: block;
    width: 155px;
    height: 150px;
    position: absolute;
    top: 370px;
    text-align: center;
    font: 20px/23px 'Segoe_UI_italic';
    padding-top: 40px;
}
#slider_arrow_prev {
    background: url("../img/slider_arrow_prev.png") no-repeat left top;
    left: 0;
    padding-left: 10px;
}
#slider_arrow_next {
    background: url("../img/slider_arrow_next.png") no-repeat right top;
    right: 0;
    padding-right: 10px;
}
#waterwheel-carousel {
    width:100%;
    height:480px;
    position:relative;
    clear:both;
    overflow:hidden;
    margin:0 auto;
}
#waterwheel-carousel img {
    visibility:hidden; /* hide images until carousel positions them */
    cursor:pointer;
    width: 650px;
    height: 360px;
    border: solid 4px #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px #ccc;
}
.questions {
    width: 660px;
    margin: -50px auto 0;
    text-align: center;
    background: url("../img/gallery_arrow.png") no-repeat 30px 35px;
}
.questions p {
    font: 26px 'Segoe_UI_light';
}
.box {
    width: 279px;
    height: 511px;
    border: 2px solid #ffffff;
    border-radius: 22px;
    float: left;
    margin:0 75px 0 0;
}
.box:last-child {
    margin-right: 0;
}

.box_1 {
    background-color: #ececec;
}

.box_2 {
    background-color: #009ae1;
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-red {
    height: 103px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 103px;
}

.ribbon-red:before {
    left: 0;
}
.ribbon-red:before, .ribbon-red:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    bottom: -3px;
    content: "";
    position: absolute;
}
.ribbon-red {
    background-color: #fb7032;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0 0 3px rgba(0,0,0,0.3);
    box-shadow:         0 0 3px rgba(0,0,0,0.3);
    color: #000;
    font: 16px/18px 'Segoe_UI';
    left: -5px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    top: 10px;
    width: 145px;
    border: solid 2px #fff;
}

.box_3 {
    background-color: #ffaf00;
}

.box h4 {
    text-align: left;
    text-transform: uppercase;
    font: 22px 'Segoe_UI_bold';
    margin: 11px 0 0 15px;
    padding-bottom: 7px;
    width: 90%;
}

.box_1 h4 {
    color: #6d6d6d;
    border-bottom: 1px solid #969696;
}

.box_2 h4 {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.box_3 h4 {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.box_img {
    margin: 4px 0;
    text-align: center;
}

.box_ul {
    margin: 7px 7px 0;
}

.box_bg {
    min-height: 63px;
    width: 180px;
    padding-left: 60px;
    font-size: 15px;
    line-height: 17px;
    background-position: 0 4px;
    background-repeat: no-repeat;
}

.box_1 .box_bg {
    color: #757575;
}

.box_2 .box_bg {
    color: #ffffff;
}

.box_3 .box_bg {
    color: #000000;
}

.box_bg_1 {
    background-image: url("../img/box_bg_1.png");
}

.box_bg_2 {
    background-image: url("../img/box_bg_2.png");
}

.box_bg_3 {
    background-image: url("../img/box_bg_3.png");
}

.box_bg_4 {
    background-image: url("../img/box_bg_4.png");
}

.box_bg_5 {
    background-image: url("../img/box_bg_5.png");
}

.box_bg_6 {
    background-image: url("../img/box_bg_6.png");
}

.box_bg_7 {
    background-image: url("../img/box_bg_7.png");
}

.box_bg_6 {
    background-image: url("../img/box_bg_6.png");
}

.box_bg_8 {
    background-image: url("../img/box_bg_8.png");
}

.box_bg_9 {
    background-image: url("../img/box_bg_9.png");
}

.box_bg_10 {
    background-image: url("../img/box_bg_10.png");
}

.box_bg_11 {
    background-image: url("../img/box_bg_11.png");
}

.box_bg_12 {
    background-image: url("../img/box_bg_12.png");
}

.price {
    font-size: 18px;
    margin: -4px 0 0;
    text-transform: uppercase;
}

.box_1 .price {
    color: #6d6d6d;
}

.box_2 .price {
    color: #ffffff;
}

.box_1 .price {
    color: #000000;
}

.price span {
    font: 27px 'Segoe_UI_bold';
}

a.more{
    height: 37px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 0 52px;
    display: inline-block;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 7px;
}

.box_1 a.more {
    border-color: #8e8e8e;
    color: #545454;
}

.box_2 a.more {
    border-color: #ffffff;
    color: #ffffff;
}

.box_2 a.more {
    border-color: #000000;
    color: #000000;
}

.dashed {
    border-bottom: 3px dashed #ff8213;
}
.no_shadow {
    box-shadow: none;
}

.clock {
    margin: 10px 0 0;
    background: url("../img/clock.png") no-repeat center center;
    height: 112px;
    padding: 7px 0 22px;
}

.clock_date {
    font: 27px 'Segoe_UI_bold';
    float: left;
    margin: 30px 0 0 202px;
}

.clock_text {
    font-size: 18px;
    float: right;
    text-align: left;
    margin: 22px 97px 0 0;
}

.numbers {
    margin: 10px 34px;
}

.numbers li {
    width: 142px;
    float: left;
    font: 18px 'Segoe_UI';
    text-align: center;
    margin: 15px 55px 15px 0;
    padding-top: 90px;
}

.numbers li:last-child {
    margin-right: 0;
}

.numbers li span {
    font: 22px 'Segoe_UI_bold';
}

.bg_num {
    background-repeat: no-repeat;
}

.bg_num_1 {
    background-image: url("../img/num_bg_1.png");
    background-position: center 19px;
}

.bg_num_2 {
    background-image: url("../img/num_bg_2.png");
    background-position: center 30px;
}

.bg_num_3 {
    background-image: url("../img/num_bg_3.png");
    background-position: center 7px;
}

.bg_num_4 {
    background-image: url("../img/num_bg_4.png");
    background-position: center 1px;
}

.bg_num_5 {
    background-image: url("../img/num_bg_5.png");
    background-position: center 5px;
}

.btn_middle_size {
    font-family: 'Segoe_UI';
    display: inline-block;
    padding: 0 22px;
    margin: 0 0 10px;
    font-size: 29px;
    height: 62px;
    line-height: 56px;
    background: url("../img/bg_btn_offer.png") repeat-x center center;
}

.privilege {
    margin: 15px 37px 30px;
}

.privilege li {
    float: left;
    width: 170px;
    margin-right: 82px;
    padding-top:120px;
    text-align: center;
    font: 15px 'Segoe_UI', sans-serif;
    background-repeat: no-repeat;
    background-position: top center;
}

.privilege li span {
    font-family: 'Segoe_UI_bold', sans-serif;
    font-size: 16px;
}

.privilege li:last-child {
    margin-right: 0;
}

.priv_1 {
    background-image: url("../img/priv_bg_1.png");
}

.priv_2 {
    background-image: url("../img/priv_bg_2.png");
}

.priv_3 {
    background-image: url("../img/priv_bg_3.png");
}

.priv_4 {
    background-image: url("../img/priv_bg_4.png");
}

.ask_call {
    background: url("../img/bg_ask_call.jpg") no-repeat center center;
    height: 262px;
    padding-top: 43px;
}

.btn_ask_call {
    display: inline-block;
    background: url("../img/bg_btn_askcall.png") repeat-x center center;
    height: 91px;
    line-height: 81px;
    font-size: 42px;
    box-shadow: none;
    padding: 0 125px;
    text-shadow: 0 2px 1px #ffdc66;
}

.still_question {
    font: 27px 'Segoe_UI_bold';
    color: #ffffff;
    margin: 0 0 37px;
}

.still_question span {
    color: #ffc603;
}

.still_question span.sq_bold {
    text-transform: uppercase;
}

.steps {
    border-bottom: 1px solid #8d8d8d;
    background: url("../img/bg_steps.png") repeat-x center bottom;
    min-height: 430px;
}

.four_steps {
    background: url("../img/bg_four_steps.png") no-repeat center 88px;
    padding: 20px 40px;
}

.four_steps li {
    float: left;
    width: 168px;
    margin-right: 82px;
    padding-top: 115px;
    text-align: left;
    font: 13px 'Segoe_UI_light';
    background-repeat: no-repeat;
}

.four_steps li:last-child {
    margin-right: 0;
}

.four_steps li span {
    font: 20px 'Seguisb';
}

.step_1 {
    background-image: url("../img/step_bg_1.png");
    background-position: 37px top;
}

.step_2 {
    background-image: url("../img/step_bg_2.png");
    background-position: 56px 5px;
}

.step_3 {
    background-image: url("../img/step_bg_3.png");
    background-position: 48px top;
}

.step_4 {
    background-image: url("../img/step_bg_4.png");
    background-position: 60px 5px;
}

.leave_offer {
    display: inline-block;
    padding: 0 30px;
    font: 15px 'Segoe_UI';
    height: 29px;
    line-height: 26px;
    background: url("../img/bg_btn_leaveoffer.png") repeat-x center center;
    margin: 0 0 22px 30px;
}

.comment {
    height: 770px;
    background: url("../img/bg_comment.jpg") no-repeat center top;
}

.com_article {
    margin: 20px 10px 0 0;
}
.com_article:first-child {
    margin-bottom: 45px;
}
.pic_com {
    border: 3px solid #ffffff;
    box-shadow: 0 0 7px #c89c52;
    margin: 0 82px 0 0;
    border-radius: 7px;
}
.float_right .pic_com {
    margin-right: 0 !important;
}
.com_wrap_1 {
    width: 1000px;
}
.com_wrap_2 {
    width: 650px;
}
.com {
    display: inline-block;
    margin: 9px 50px 9px 0;
}

.com_text {
    margin: 9px 0;
}

.com_text p {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}
p.com_title {
    font: 17px/23px 'Segoe_UI_bold';
    color: #3da6ea;
}

.btn_comment {
    height: 43px;
    line-height: 40px;
    display: inline-block;
    background: url("../img/bg_btn_comment.png") repeat-x center center;
    padding: 0 33px;
    font-size: 19px;
    box-shadow: 0 4px 5px #cf994a;
}

.where {
    background: url("../img/bg_where.jpg") no-repeat center top;
    height: 630px;
}

.justify-image {
    text-align: justify;
    margin: 30px 0;
}
.justify-image img{display:inline-block;}
.justify-image:after{content:""; display: inline-block; width: 100%; height: 0;}

.footer .logo {
    padding: 30px 0 0 130px;
    font-size: 18px;
    line-height: 22px;
    width: 250px;
}
.contacts {
    float: right;
    margin: 15px 0 30px;
}
.mail {
    text-align: center;
    background: url("../img/mail.png") no-repeat 10px center;
    font: 18px/22px 'Segoe_UI_bold';
    color: #000000;;
}
