@import url("reset.css");

/*@font-face*/
/*{*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-family: 'Segoe_UI';*/
    /*src: url('../fonts/segoeui/segoeui.eot');*/
    /*src: url('../fonts/segoeui/segoeui.eot?#iefix') format('embedded-opentype'),*/
    /*url('../fonts/segoeui/segoeui.woff') format('woff'),*/
    /*url('../fonts/segoeui/segoeui.ttf') format('truetype'),*/
    /*url('../fonts/segoeui/segoeui.svg#webfont') format('svg');*/
/*}*/

html, body {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    font: 13px/1.5 'segoe ui', sans-serif;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    font: 13px/1.5 'segoe ui', sans-serif;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*HEADER*/

h1.logo {
    float: left;
    margin: 0 0 0 45px;
}