@import url("reset.css");

@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Segeo UI';
    src: url('../fonts/segeoui/segeoui.eot');
    src: url('../fonts/segeoui/segeoui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segeoui/segeoui.woff') format('woff'),
    url('../fonts/segeoui/segeoui.ttf') format('truetype'),
    url('../fonts/segeoui/segeoui.svg#webfont') format('svg');
}

html, body {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    font: 13px/1.5 'Segeo UI', sans-serif;
}

a {
    text-decoration: none;
}

p {
    color: #000000;
    font: 13px/1.5 'Segeo UI', sans-serif;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*HEADER*/

h1.logo {
    float: left;
    margin: 0 0 0 45px;
}