@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe_UI';
    src: url('../fonts/segoeui/segoeui.eot');
    src: url('../fonts/segoeui/segoeui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeui/segoeui.woff') format('woff'),
    url('../fonts/segoeui/segoeui.ttf') format('truetype'),
    url('../fonts/segoeui/segoeui.svg#webfont') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe_UI_bold';
    src: url('../fonts/segoeuib/segoeuib.eot');
    src: url('../fonts/segoeuib/segoeuib.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuib/segoeuib.woff') format('woff'),
    url('../fonts/segoeuib/segoeuib.ttf') format('truetype'),
    url('../fonts/segoeuib/segoeuib.svg#webfont') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe_UI_italic';
    src: url('../fonts/segoeuii/segoeuii.eot');
    src: url('../fonts/segoeuii/segoeuii.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuii/segoeuii.woff') format('woff'),
    url('../fonts/segoeuii/segoeuii.ttf') format('truetype'),
    url('../fonts/segoeuii/segoeuii.svg#webfont') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe_UI_light';
    src: url('../fonts/segoeuil/segoeuil.eot');
    src: url('../fonts/segoeuil/segoeuil.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuil/segoeuil.woff') format('woff'),
    url('../fonts/segoeuil/segoeuil.ttf') format('truetype'),
    url('../fonts/segoeuil/segoeuil.svg#webfont') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe_UI_z';
    src: url('../fonts/segoeuiz/segoeuiz.eot');
    src: url('../fonts/segoeuiz/segoeuiz.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeuiz/segoeuiz.woff') format('woff'),
    url('../fonts/segoeuiz/segoeuiz.ttf') format('truetype'),
    url('../fonts/segoeuiz/segoeuiz.svg#webfont') format('svg');
}
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Seguisb';
    src: url('../fonts/seguisb/seguisb.eot');
    src: url('../fonts/seguisb/seguisb.eot?#iefix') format('embedded-opentype'),
    url('../fonts/seguisb/seguisb.woff') format('woff'),
    url('../fonts/seguisb/seguisb.ttf') format('truetype'),
    url('../fonts/seguisb/seguisb.svg#webfont') format('svg');
}

/**
GENERAL
*/
html, body {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    font: 13px/1.5 'Segoe_UI', sans-serif;
}
.page {
    max-width: 1400px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
    font: 13px/1.5 'Segoe_UI', sans-serif;
}

.wrapper {
    width: 1180px;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.btn_border {
    border-radius: 10px;
    border: 1px solid #d99100;
    position:relative;
    z-index:10
}

.btn_border:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:1px solid #fadc8f;
    border-radius: 10px;
}

h2 {
    font: 60px 'Segoe_UI_bold', sans-serif;
    line-height: 43px;
}

h2:before {
   display: block;
   margin: 0 0 20px 10px;
   content: "";
   height: 4px;
   width: 240px;
}

h2 span {
    font: 49px 'Segoe_UI_light', sans-serif;
    color: #000000;

}

/*HEADER*/

header {
    margin-top: 10px;
    border-bottom: 1px solid #8d8d8d;
}

h1.logo {
    float: left;
    margin: 0 0 0 45px;
    height: 120px;
    width: 480px;
    padding-left: 140px;
    background: url("../img/logo.png") no-repeat left center;
    text-transform: uppercase;
    color: #7b7b7b;
    line-height: 40px;
    font: 30px 'Segoe_UI_bold', sans-serif;
    text-shadow: #c8c8c8 0 1px 1px;
}

h1.logo span {
    color: #000000;
    text-shadow: #aaaaaa 0 1px 1px;
}

.phone {
    float: right;
    width: 275px;
    text-align: center;
}

.phone>p {
    height: 29px;
    line-height: 29px;
    background: url("../img/ic_phone.png") no-repeat 10px center;
    padding-left: 30px;
    color: #7b7b7b;
    font: 24px 'Segoe_UI_bold', sans-serif;
}

.phone>p span {
    color: #000000;
}

.call_offer {
    height:39px;
    line-height: 39px;
    display: inline-block;
    font: 24px 'Segoe_UI', sans-serif;
    padding: 0 38px;
    background: url("../img/bg_btn_call.png") repeat-x center center;
    margin-top: 15px;
    text-shadow: #ffc942 0 1px 1px;
    box-shadow: 1px 15px 10px #cfcfcf;
}

.line {
    border-top: 1px solid #8d8d8d;
}

.main_menu {
    margin: 30px auto 15px;
    width: 610px;
}

.main_menu li {
    float: left;
    padding: 0 15px;
}

.main_menu li a {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px dashed #0a3b66;
}

/*MAIN*/

.center {
    text-align: center;
}

.title_bold {
    font: 38px 'Segoe_UI_bold', sans-serif;
}

.title_light {
    font: 29px 'Segoe_UI_light', sans-serif;
    margin-bottom: 35px;
}

.bg_main {
    background: url("../img/bg_main.jpg") no-repeat center bottom;
    height: 827px;
}

.know_more {
    height: 82px;
    line-height: 82px;
    display: inline-block;
    padding: 0 60px;
    font-size: 38px;
    background: url("../img/bg_btn_know.png") repeat-x center center;
}

.why_clients {
    border-top: 1px solid #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
    background: url("../img/bg_why_clients.png") repeat;
    height: 550px;
    margin-bottom: 20px;
}

.offer {
    background: url("../img/stairs.png") no-repeat left 200px;
    height: 696px;
}
.counter_title {
    color: #18426a;
    font: 20px/1.5 'Seguisb', sans-serif;
}
.blue_arrow {
    background: url("../img/offer_arrow.png") no-repeat left top;
    width: 268px;
    height: 239px;
    margin: 30px 0 0 450px;
}
.box_offer {
    margin: 110px 0 0 0;
    float: right;
    width: 350px;
    height: 465px;
    border: 1px solid #d0cfbd;
    background: url("../img/bg_box_offer.gif") repeat 0 0;
    border-radius: 30px;
    padding: 25px 20px 10px;
    box-shadow: 0 4px 0 #d9d9d9;
}
.box_offer h1 {
    color: #053763;
    font: 36px/41px 'Seguisb', sans-serif; /** checked **/
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 0;
}
.box_offer p {
    text-align: center;
    color: #000;
    font: 30px 'Seguisb', sans-serif; /** checked **/
}
.box_offer p.light {
    font: 24px 'Segoe_UI_light', sans-serif;
}
.box_offer span.blue {
    color: #23a7e5;
    text-transform: uppercase;
}
.box_offer form {
    margin: 15px 0 0 0;
}
.box_offer form input {
    border: solid 1px #b9b9b9;
    color: #c4c4c4;
    font-size: 17px;
    width: 310px;
    padding: 13px 20px;
    margin: 5px 0;
}
.btn_offer {
    height:52px;
    line-height: 52px;
    display: inline-block;
    font: 32px 'Segoe_UI', sans-serif;
    padding: 0 65px;
    background-color:#ffc603;
    margin: 15px auto 0 45px;
    text-shadow: #ffc942 0 1px 1px;
    box-shadow: 1px 15px 10px #cfcfcf;
}

.title_normal {
    font: 42px 'Segoe_UI_light', sans-serif;
    margin: 40px 0;
}

.our_advantage li {
    float: left;
    width: 187px;
    height: 210px;
    padding-top: 210px;
    margin-right: 40px;
    font-size: 24px;
    line-height: 30px;
    color: #053763;
    text-align: center;
}

.our_advantage li:first-child {
    margin-left: 40px;
}
.our_advantage li span {
    font-size: 28px;
}

.our_advantage li span.bold {
    font: 40px 'Segoe_UI_bold', sans-serif;
}

li.adv_1 {
    background: url("../img/adv_1.png") no-repeat center top;
}

li.adv_2 {
    background: url("../img/adv_2.png") no-repeat center top;
}

li.adv_3 {
    background: url("../img/adv_3.png") no-repeat center top;
}

li.adv_4 {
    background: url("../img/adv_4.png") no-repeat center top;
}

li.adv_5 {
    background: url("../img/adv_5.png") no-repeat center top;
}

h2.cl_blue {
    color: #009ae1;
}

h2.cl_blue:before {
    background-color: #009ae1;
}

h2.cl_dark_blue {
    color: #053763;
}

h2.cl_dark_blue:before {
    background-color: #053763;
}

.suitable {
    background: url("../img/bg_suitable.jpg") no-repeat center -30px;
    height: 960px;
}

h2.cl_white {
    color: #ffffff;
    padding-top: 75px;
    text-align: right;
    position: relative;
}

h2.cl_white:before {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 55px;
}

.suitable_box {
    margin: 20px 90px;
}

.box {
    width: 372px;
    height: 682px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    float: left;
    margin: 15px;
}

.box_1 {
    background-color: #ececec;
}

.box_2 {
    background-color: #009ae1;
}

.box_3 {
    background-color: #ffaf00;
}

.box h4 {
    text-align: left;
    text-transform: uppercase;
    font: 30px 'Segoe_UI_bold', sans-serif;
    margin: 15px 0 0 20px;
    padding-bottom: 10px;
    width: 90%;
}

.box_1 h4 {
    color: #6d6d6d;
    border-bottom: 1px solid #969696;
}

.box_2 h4 {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.box_3 h4 {
    color: #000000;
    border-bottom: 1px solid #000000;
}

.box_img {
    margin: 5px 0;
    text-align: center;
}

.box_ul {
    margin: 10px 10px 0;
}

.box_bg {
    min-height: 84px;
    width: 240px;
    padding-left: 80px;
    font-size: 20px;
    line-height: 23px;
    background-position: 0 4px;
    background-repeat: no-repeat;
}

.box_1 .box_bg {
    color: #757575;
}

.box_2 .box_bg {
    color: #ffffff;
}

.box_3 .box_bg {
    color: #000000;
}

.box_bg_1 {
    background-image: url("../img/box_bg_1.png");
}

.box_bg_2 {
    background-image: url("../img/box_bg_2.png");
}

.box_bg_3 {
    background-image: url("../img/box_bg_3.png");
}

.box_bg_4 {
    background-image: url("../img/box_bg_4.png");
}

.price {
    font-size: 24px;
    margin: -5px 0 0;
    text-transform: uppercase;
}

.box_1 .price {
    color: #6d6d6d;
}

.box_2 .price {
    color: #ffffff;
}

.box_1 .price {
    color: #000000;
}

.price span {
    font: 36px 'Segoe_UI_bold', sans-serif;
}

a.more{
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 0 70px;
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
}

.box_1 a.more {
    border-color: #8e8e8e;
    color: #545454;
}

.box_2 a.more {
    border-color: #ffffff;
    color: #ffffff;
}

.box_2 a.more {
    border-color: #000000;
    color: #000000;
}