@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Segoe_UI';
    src: url('../fonts/segoeui/segoeui.eot');
    src: url('../fonts/segoeui/segoeui.eot?#iefix') format('embedded-opentype'),
    url('../fonts/segoeui/segoeui.woff') format('woff'),
    url('../fonts/segoeui/segoeui.ttf') format('truetype'),
    url('../fonts/segoeui/segoeui.svg#webfont') format('svg');
}

html, body {
    background-color: #ffffff;
    width: 100%;
    color: #000000;
    font: 13px/1.5 'Segoe_UI', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    color: #000000;
    font: 13px/1.5 'Segoe_UI', sans-serif;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*HEADER*/

header {
    margin-top: 10px;
    border-bottom: 1px solid #8d8d8d;
}

h1.logo {
    float: left;
    margin: 0 0 0 45px;
    height: 120px;
    width: 480px;
    padding-left: 140px;
    background: url("../img/logo.png") no-repeat left center;
    text-transform: uppercase;
    font-size: 30px;
    color: #7b7b7b;
    line-height: 40px;
    font-weight: bold;
    text-shadow: #c8c8c8 0 1px 1px;
}

h1.logo span {
    color: #000000;
    text-shadow: #aaaaaa 0 1px 1px;
}

.phone {
    float: right;
    width: 275px;
    text-align: center;
}

.phone>p {
    height: 29px;
    line-height: 29px;
    background: url("../img/ic_phone.png") no-repeat 10px center;
    padding-left: 30px;
    color: #7b7b7b;
    font-size: 24px;
    font-weight: bold;
}

.phone>p span {
    color: #000000;
}

.call_offer {
    display: inline-block;
    font-size: 24px;
    font-weight: lighter;
    padding: 0 38px;
    background: url("../img/bg_btn_call.png") repeat-x center center;
    border: 1px solid #d99100;
    border-radius: 5px;
    margin-top: 15px;
    text-shadow: #ffc942 0 1px 1px;
    box-shadow: inset 0 0 2px #fadc8f;
}

.line {
    border-top: 1px solid #8d8d8d;
}

.main_menu {
    margin: 30px auto 15px;
}

.main_menu li {
    float: left;
    padding: 0 15px;
}

.main_menu li a {
    display: block;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px dashed #0a3b66;
}

/*MAIN*/

.center {
    text-align: center;
}

.title_bold {
    font-size: 38px;
    font-weight: bold;
}

.title_light {
    font-size: 29px;
    font-weight: lighter;
}

.bg_main {
    background: url("../img/bg_main.jpg") no-repeat center bottom;
    height: 820px;
}